.container {
    position: center;
}
.center {
    position: absolute;
    top:50%;    
    width: 1500px;
    text-align: center;
    font-size: 18px;
}
img { 
    height: 900px;
    width: 100%;
    position: absolute;
    left: 51%;
    transform: translate(-51%, 9%);
    opacity: 0.3;
}
.MSNS {
    margin:-60 0 0 0  ;
    font-size : 260px;
    font-weight:bold;
}
.MSNS1{
    font-size : 50px;
    margin:-40px 0 0 0;
    font-weight:bold;
}
.MSNS2{
    font-size : 20px;
    margin:20px 0 0 0;
}

.wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -86px;
	margin-left: -89px;
	text-align: center;
}

a {
	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	display: block;
	margin: 20px auto;
	max-width: 180px;
	text-decoration: none;
	border-radius: 4px;
	padding: 20px 30px;
}
.container .center a.button2 {
    position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -86px;
	margin-left: -89px;
	text-align: center;
	color: rgba(30, 22, 54, 0.6);
	box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

a.button2:hover {
	color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(30, 22, 54, 0.7) 0 80px 0px 2px inset;
}